.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: transparent;
    background-color: white;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 30px;
}

.leftLogo {
    height: 30px;
    width: 30px;
   
}

.leftImage{
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 10px;
}

.leftH1 {
    font-size: 21px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-right: 50px;
}

.rightUl{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
}

.rightLi{
    margin-right: 25px;
    font-size: 22px;
    font-weight: bold;  
}

.rightLi:hover {
    background:linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
    padding: 6px 10px 6px 10px;
    color: white;
    transition: 0.5s;
    border-radius: 40px;
    cursor: pointer;
}


.rightImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
   
  
}

@media  (max-width: 560px) {
    .left {
        margin-right: 20px;
    }
}

.right {
    position: relative;
  }

 .backgroundList {
    position: absolute;
    top: 100px;
    right:230px;
    width: 500px; 
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .backgroundItem {
    margin: 5px;
    cursor: pointer;

  }
  .backgroundImage {
    width: 100px; 
    height: 100px;
    background-size:100%;
    border-radius: 15px;}

    .backgroundImage:hover{
    animation: moveImage 2s ease-in-out infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

  @media (max-width: 768px) {
    
    .backgroundList {
      position: absolute;
      width: auto;
      right: 100px;
    }
    
    .backgroundImage {
      width: 80px;
      height: 80px;
    }
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  