.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: transparent;
    background-color: white;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 30px;
}

.leftLogo {
    height: 30px;
    width: 30px;
   
}

.leftImage{
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 10px;
}

.leftH1 {
    font-size: 21px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-right: 50px;
}

.rightUl{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
}

.rightLi{
    margin-right: 25px;
    font-size: 22px;
    font-weight: bold;
}

.rightLi:hover {
    background:linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
    padding: 6px 10px 6px 10px;
    color: white;
    transition: 0.5s;
    border-radius: 40px;
}


.rightImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}

@media  (max-width: 560px) {
    .left {
        margin-right: 20px;
    }
}