.heroPageMain{
    width:100vw;
    height: 100vh;
    background:linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
}
.bottomBox{
    overflow:auto;
   display: flex;
   padding: 35px;
    width:100%;
    height:90% ;
}